@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Product Search</h1>

<form method="get" action="/product/search">
    Search: <input type="text" name="str" /><br />
    <input type="submit" value="Search" />
</form>

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Category cat in Model)
		{
            <tr>
                <td>@cat.id</td>
                <td>@cat.name</td>
                <td>@cat.description</td>
                <td>
                    <a asp-controller="Product" asp-action="ListProducts" asp-route-catid="@cat.id" class="btn btn-primary">Products</a>
                    @if (DAL.CurrentUser == "admin" || DAL.CurrentUser == cat.username)
                    {
                    <a asp-action="DeleteCategory" asp-route-catid="@cat.id" class="btn btn-danger">Delete</a>
                    <a asp-action="EditCategoryForm" asp-route-catid="@cat.id" class="btn btn-secondary">Edit</a>
                    }
                </td>
            </tr>
		}
    </tbody>
</table>
<a asp-action="AddCategoryForm" class="btn btn-primary">New</a>